# 11. Data Analysis with Pandas
Pandas is a data analysis library
مكتبة معالجة وتحليل بيانات

## Installing Pandas
`pip install pandas`

* `import pandas as pd`
* Create a DataFrame from a dictionary: `names_dict = {"names": ["Ahmed","Sohaila","Sara","Jana"]}`

In [2]:
import pandas as pd

names_dict = {"names": ["Ahmed","Sohaila","Sara","Jana"]}
df = pd.DataFrame(names_dict)
print(df)

     names
0    Ahmed
1  Sohaila
2     Sara
3     Jana

Creating a DataFrame from a dictionary of multiple keys

In [3]:
import pandas as pd

students_dict = {"name": ["Ahmed","Sohaila","Sara","Jana"],
				 "age": [30,25,22,20]}
df = pd.DataFrame(students_dict)
print(df)

      name  age
0    Ahmed   30
1  Sohaila   25
2     Sara   22
3     Jana   20

## Saving a DataFrame to a CSV file
الحفظ في ملف CSV

In [ ]:
import pandas as pd

students_dict = {"name": ["Ahmed","Sohaila","Sara","Jana"],
				 "age": [30,25,22,20]}
df = pd.DataFrame(students_dict)
df.to_csv("Students.csv")

## Reading a DataFrame from a CSV file
القراءة من ملف CSV

In [ ]:
import pandas as pd

df = pd.read_csv("Students.csv")

## Adding a column to a DataFrame
`city = ["Cairo","Alex","Giza","Fayoum"]`

In [22]:
city = ["Cairo","Alex","Giza","Fayoum"]
df["city"] = city
print(df)

      name  age    city
0    Ahmed   30   Cairo
1  Sohaila   25    Alex
2     Sara   22    Giza
3     Jana   20  Fayoum

## Selecting a column from the DataFrame
age اختيار عامود العمر

In [18]:
df["age"]

0    30
1    25
2    22
3    20
Name: age, dtype: int64

## وصف الأعمدة الرقمية `describe`

In [23]:
df.describe()

Index(['name', 'age', 'city'], dtype='object')

In [24]:
df.head()

      name  age    city
0    Ahmed   30   Cairo
1  Sohaila   25    Alex
2     Sara   22    Giza
3     Jana   20  Fayoum